h1
{
    color: blue;
    font-family: papyrus;
    text-align: center;
    font-size: 80px;
    background-color: rgb(238, 238, 9);
    
}

body
{
    margin: 100px;
    border: 10px solid red;
    box-shadow: 0px 20px 20px 0px rgba(226, 11, 180, 0.5);
    background-color: rgb(148, 211, 219);
}

#balon
{
    color: rgb(34, 231, 8);
    background-color: blue;
}

.oro
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: white;
}

.cr
{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}